nav a {
  margin-right: 15px;
   text-decoration: none;
 }

 nav a.active {
   font-weight: bold;
   text-decoration: underline;
 }

.main-container {
  padding: 24px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
}


